.unstyled{
    list-style: none;
}

button{
    font-family: "Verdana";
}

.done-true{
    text-decoration: line-through;
    color: green;
}

.tabbable{
    border: 1px solid grey;
    border-radius: 3px;
    width: auto;
}